Na4Cl4.json filter=lfs diff=lfs merge=lfs -text
Na4Cl4.poscar filter=lfs diff=lfs merge=lfs -text
Si-supercell.json filter=lfs diff=lfs merge=lfs -text
Si.json filter=lfs diff=lfs merge=lfs -text
FeLiSi-basis.json filter=lfs diff=lfs merge=lfs -text
Ge2-basis.json filter=lfs diff=lfs merge=lfs -text
LiFeSi-basis.json filter=lfs diff=lfs merge=lfs -text
AsGe-basis.json filter=lfs diff=lfs merge=lfs -text
OSi-basis.json filter=lfs diff=lfs merge=lfs -text
Si2-basis.json filter=lfs diff=lfs merge=lfs -text
